@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --base-background-color: #fff;
  --primary-color: #00b289;
  --hover-button-color: #00a37e;
  --content-width: 1120px;
  --bold-weight: 700;
  --width--grid--tippy--productions: 264px;
  --height--grid--tippy--productions: 129px;
  --background--color--hover: #fafafa;
}

* {
  box-sizing: border-box;
  font-family: 'Proximanova opt', sans-serif;
  letter-spacing: 0.6px;
}

a {
  text-decoration: none;
}

// html {
//   font-size: 62.5%;
// }

body {
  margin: 0;
  padding: 0;
}
