.wrapper {
  background-color: #fff;
}
.blue_shape {
  width: 100%;
  height: 100%;
  background-color: #f2faff;
  border-radius: 90px;
  position: absolute;
  top: -370px;
  left: 540px;
  transform: rotate(-23deg);
}
.email {
  width: 100%;
  padding-top: 300px;
  height: 1000px;
  position: relative;
  overflow: hidden;
  .content {
    width: 442px;
    position: absolute;
    top: 310px;
    left: 200px;
    opacity: 0.9;
    h1 {
      font-family: 'Hepta Slab', sans-serif;
      margin: 0 0 30px;
      font-size: 32px;
      font-weight: 500;
      line-height: 55px;
    }
    p {
      font-size: 20px;
      margin-bottom: 30px;
      line-height: 28px;
    }
    .log_in {
      height: 60px;
      display: flex;
      input {
        height: 100%;
        flex: 1;
        padding: 20px;
        border: 2px solid var(--primary-color);
        &:focus-visible {
          outline-style: none;
        }
      }
      .btn {
        min-width: 70px;
        height: 100%;
        font-size: 14px;
      }
    }
  }
  .image {
    position: absolute;
    top: 249px;
    right: 35px;
    width: 44vw;
    img {
      width: 100%;
    }
  }
}
.benefit {
  position: relative;
  .blue_shape--benefit {
    top: -135px;
    left: -1160px;
    transform: rotate(60deg);
  }
  .slogan {
    opacity: 0.78;
    text-align: center;
    h1 {
      font-family: 'Hepta Slab', sans-serif;
      font-size: 30px;
      font-weight: 500;
    }
    p {
      width: 42%;
      margin: auto;
      font-size: 20px;
      font-weight: normal;
    }
  }
  .illustration {
    width: 61%;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    .illustration__item {
      h3 {
        opacity: 0.78;
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        font-family: 'Hepta Slab', sans-serif;
      }
      img {
        width: 100%;
      }
      .illustration__item_without {
        margin-top: 25px;
        transform: scaleY(1.2);
      }
    }
    .illustration__item + .illustration__item {
      margin-left: 60px;
    }
  }
}

.sidebar {
  width: 100%;
  padding: 0 13%;
  margin: auto;
  display: flex;
  position: relative;
  .blue_shape--sidebar {
    background-color: #fff5e8;
    top: 53px;
    left: 785px;
  }
  .menu {
    min-width: 32%;
    .selection {
      cursor: pointer;
      padding: 20px;
      display: flex;
      div {
        width: 40px;
        display: flex;
        svg {
          font-size: 25px;
          margin: auto;
        }
      }
      h2 {
        margin: 0;
      }
    }
    .selection + .selection {
      border-top: 1px solid rgba(0, 0, 0, 0.7);
    }
  }
  .content {
    width: 50%;
    position: absolute;
    left: 37%;
    z-index: 9;
    .text {
      padding-left: 110px;
      width: 455px;
      h2 {
        margin: 10px 0 0;
        font-family: 'Hepta Slab', sans-serif;
        font-size: 29px;
        font-weight: normal;
      }
      p {
        font-size: 20px;
      }
      a {
        text-transform: uppercase;
        color: var(--primary-color);
        span {
          font-size: 14px;
          letter-spacing: 1px;
        }
        svg {
          padding-left: 10px;
        }
      }
    }
    .photo {
      img {
        width: 100%;
        padding-left: 22%;
      }
    }
  }
}
.network {
  margin-top: 100px;
  padding: 0 25%;
  position: relative;
  z-index: 9;
  .blue_shape--network {
    top: 190px;
    left: -950px;
    transform: rotate(60deg);
  }
  .header {
    width: 80%;
    margin: auto;
    text-align: center;
    line-height: 1.7;
    h1 {
      margin: 0;
      padding-bottom: 10px;
      font-family: 'Hepta Slab', sans-serif;
      font-weight: normal;
      font-size: 26px;
    }
    p {
      margin: 0;
      font-size: 21px;
      line-height: 1.2;
      opacity: 0.7;
    }
  }
  .types {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    .type {
      width: 36%;
      h4 {
        font-family: 'Hepta Slab', sans-serif;
        font-size: 17px;
      }
      p {
        line-height: 1.4;
        font-size: 14px;
        opacity: 0.7;
      }
    }
  }
}
