.wrapper {
  transform: translateY(12px);
  min-width: 100px;
  min-height: 300px;
  background-color: #fff;
  box-shadow: 0 1px 60px 0 rgb(2 4 69 / 10%);
}
.wrapper--product {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: white;
  height: 100%;
  display: grid;
  grid-template-columns: var(--width--grid--tippy--productions) var(
      --width--grid--tippy--productions
    );
  grid-template-rows:
    var(--height--grid--tippy--productions) var(
      --height--grid--tippy--productions
    )
    var(--height--grid--tippy--productions) var(--height--grid--tippy--productions);
  opacity: 0;
}
.wrapper--product:hover {
  opacity: 1;
}
.wrapper--product--show {
  opacity: 1;
}
.product--item {
  padding: 15px;
  display: flex;
  &:hover {
    background-color: var(--background--color--hover);
  }
}
.product--item--content {
  min-width: 80%;
  margin-left: 6px;
  font-size: 13px;
}
.product--item--title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 1.2em;
  font-weight: normal;
}
.product--item--decript {
  font-size: 1em;
}
