.wrapper {
  padding: 12px 27px 9px;
  font-size: 12px;
  font-weight: var(--bold-weight);
  letter-spacing: 0.6px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    border-color: var(--hover-button-color);
    background-color: var(--hover-button-color);
  }
}
.wrapper + .wrapper {
  margin-left: 17px;
}
.wrapper--white {
  background-color: #fff;
  color: var(--primary-color);
  &:hover {
    color: #fff;
  }
}

.wrapper--small {
  padding-left: 22px;
  padding-right: 22px;
  font-size: 12px;
}

.wrapper--big {
  font-size: 14px;
}
