.wrapper {
  width: 100%;
  height: 78px;
  background-color: var(--base-background-color);
  display: flex;
  position: fixed;
  z-index: 9999;
  background-color: #ccc;
  .inner {
    margin: auto;
    height: 100%;
    width: var(--content-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      width: 155px;
    }
    .navigation {
      display: flex;
      .left {
        margin-right: 93px;
        display: flex;
        align-items: center;
        .navi_left_item {
          cursor: pointer;
          color: #000;
          opacity: 0.6;
          svg {
            width: 30px;
            padding-bottom: 1px;
            font-size: 12px;
          }
          &:hover {
            opacity: 0.8;
          }
        }
        .navi_left_item + .navi_left_item {
          margin-left: 35px;
        }
      }
    }
  }
}
.popperProduct {
  width: 352px;
  padding: 0 40px;
  .popperItem {
    padding: 40px 0;
    &:hover {
      background-color: var(--background--color--hover);
    }
    h2 {
      margin: 0 0 10px 0;
      font-family: 'Hepta Slab', sans-serif;
      letter-spacing: 0;
      font-size: 20px;
      font-weight: 400;
    }
    p {
      margin: 0;
      font-size: 17px;
      opacity: 0.7;
    }
  }
  .popperItem + .popperItem {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
}

.popperTemplates {
  padding: 10px 0 100px 0;
  .item {
    margin: 15px 20px 15px 0;
    padding: 10px 55px 10px 45px;
    box-sizing: content-box;
    display: flex;
    height: 19px;
    opacity: 0.7;
    svg {
      max-width: 24px;
      height: 100%;
    }
    div {
      width: 185px;
      margin-left: 10px;
      font-size: 15px;
      font-weight: normal;
      letter-spacing: 0.6px;
    }
  }
}
